.container {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.child {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px;
  flex-grow: 1;
}

.picture-board {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border-color: #3ac0a0;
  border-width: 3px;
  border-style: solid;
}

.text-white {
  color: "#fff";
}
