.container {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.child {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px;
  flex-grow: 1;
}

.text-green {
  color: #3ac0a0;
  text-align: center;
}

h1 {
  color: #3ac0a0;
}
h2 {
  color: #3ac0a0;
  font-weight: bold;
  font-size: 14px;
}
